@font-face {
    font-family: "Torus Light";
    src: url("fonts/Torus\ Light.otf");
}

@font-face {
    font-family: "Torus Regular";
    src: url("fonts/Torus\ Regular.otf");
}

@font-face {
    font-family: "Torus Bold";
    src: url("fonts/Torus\ Bold.otf");
}

@font-face {
    font-family: "Torus SemiBold";
    src: url("fonts/Torus\ SemiBold.otf");
}

@font-face {
    font-family: "Puente Light";
    src: url("fonts/puente-light.ttf");
}

@font-face {
    font-family: "Puente Medium";
    src: url("fonts/puente-medium.ttf");
}

body,
html {
    padding: 0;
    margin: 0;
}

#screenBg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -10;
}

.screen {
    position: absolute;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
}

#defaultScreenBg {
    background-image: url('../static/bg-1-logo.png');
}

#lineUpScreenBg {
    background-image: url('../static/bg-1.png');
}

#winnerScreenBg {
    background-image: url('../static/bg-2.png');
}

#tsparticles {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

#screenContainer {
    font-size: 30px;
    font-family: Puente Medium, Helvetica, sans-serif;
    font-weight: normal;
    width: 1920px;
    height: 1080px;
    position: relative;
}

#defaultScreen {
    font-family: Torus SemiBold, Helvetica, sans-serif;
    color: white;
    width: 100%;
    height: 100%;
}

#defaultScreenContainer {
    text-align: center;
}

#defaultScreenTitleContainer {
    font-family: Puente Light, Helvetica, sans-serif;
}

#defaultScreenTitle {
    font-size: 82px;
}

#defaultScreenSubtitle {
    font-size: 40px;
}

#defaultScreenNowPlayingContainer {
    margin: 40px 0 40px 0;
}

#defaultScreenNowPlayingText {
    font-family: Torus Light, Helvetica, sans-serif;
    font-size: 18px;
}

#defaultScreenSongMetadata {
    font-size: 22px;
}

#lineUpScreen {
    font-family: Torus SemiBold, Helvetica, sans-serif;
    color: white;
    width: 100%;
    height: 100%;
}

#lineUpScreenContainer {
    width: 100%;
    height: 100%;
    /* https://stackoverflow.com/questions/4879788/padding-adds-to-div-width-height */
    display: flow-root;
    padding: 140px 140px 140px 140px;
    box-sizing: border-box;
}

#lineUpScreenTournamentInfoContainer {
    font-family: Puente Light, Helvetica, sans-serif;
    font-size: 36px;
}

#lineUpScreenMatchInfoContainer {
    font-size: 28px;
}

#lineUpScreenColumnsContainer {
    display: flex;
    width: 100%;
    height: 100%;
}

#lineUpScreenColumnsContainer>div {
    width: 50%;
    padding: 0 0 0 100px;
}

#lineUpScreenRedText {
    background-color: #A91418;
}

#lineUpScreenBlueText {
    background-color: #1461A5;
}

.lineUpScreenImageContainer {
    height: 200px;
    font-size: 0;
    margin: 80px 0 80px 0;
}

.lineUpScreenImage {
    max-width: 200px;
    max-height: 200px;
    border-radius: 20px;
    /* https://stackoverflow.com/questions/7273338/how-to-vertically-align-an-image-inside-a-div */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.teamColorText {
    width: max-content;
    padding: 0 10px 4px 10px;
    font-size: 34px;
    border-radius: 5px;
}

.teamName {
    background-color: white;
    color: black;
    width: max-content;
    font-size: 50px;
    padding: 0 20px 4px 20px;
    border-radius: 5px;
    margin: 16px 0 40px 0;
}

.lineUpScreenPlayersContainer {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    height: 180px;
}

.lineUpScreenPlayersContainer>span {
    height: 36px;
    width: max-content;
    padding: 0 0 0 20px;
}

#mapScreen {}

#matchScreen {
    height: 100%;
    width: 100%;
    font-family: Torus SemiBold, Helvetica, sans-serif;
    color: black;
}

#winnerScreen {
    height: 100%;
    width: 100%;
    font-family: Torus SemiBold, Helvetica, sans-serif;
    color: white;
}

#winnerScreenContainer {
    width: 100%;
    height: 100%;
    /* https://stackoverflow.com/questions/4879788/padding-adds-to-div-width-height */
    display: flow-root;
    padding: 180px 180px 180px 180px;
    box-sizing: border-box;
}

#winnerScreenWrapperContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
}

#winnerScreenWrapperContainer>div {
    width: 100%;
    height: 100%;
}

#winnerScreenImage {
    max-width: 300px;
    max-height: 300px;
    border-radius: 30px;
    /* https://stackoverflow.com/questions/7273338/how-to-vertically-align-an-image-inside-a-div */
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

#winnerScreenDataWrapperContainer {
    padding: 0 0 0 140px;
}

#winnerScreenTournamentInfoContainer {
    font-family: Puente Light, Helvetica, sans-serif;
    font-size: 36px;
}

#winnerScreenMatchInfoContainer {
    font-size: 28px;
}

#winnerScreenText {
    font-family: Torus Bold, Helvetica, sans-serif;
    font-size: 120px;
    margin: 50px 0 70px 0;
}

#winnerScreenPlayersContainer {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    height: 180px;
}

#winnerScreenPlayersContainer>span {
    height: 36px;
    width: max-content;
    padding: 0 0 0 20px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#controls {
    position: relative;
}

#screenControlContainer>div {
    display: inline-block;
}