@font-face {
    font-family: "Torus Light";
    src: url("fonts/Torus\ Light.otf");
}

@font-face {
    font-family: "Torus Regular";
    src: url("fonts/Torus\ Regular.otf");
}

@font-face {
    font-family: "Torus Bold";
    src: url("fonts/Torus\ Bold.otf");
}

@font-face {
    font-family: "Torus SemiBold";
    src: url("fonts/Torus\ SemiBold.otf");
}

@font-face {
    font-family: "Puente Light";
    src: url("fonts/puente-light.ttf");
}

@font-face {
    font-family: "Puente Medium";
    src: url("fonts/puente-medium.ttf");
}

body,
html {
    padding: 0;
    margin: 0;
}

#screenBg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -10;
}

.screen {
    position: absolute;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
}

#defaultScreenBg {
    background-image: url('../static/bg-1-logo.png');
}

#lineUpScreenBg {
    background-image: url('../static/bg-1.png');
}

#winnerScreenBg {
    background-image: url('../static/bg-2.png');
}

#tsparticles {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

#screenContainer {
    font-size: 30px;
    font-family: Puente Medium, Helvetica, sans-serif;
    font-weight: normal;
    width: 1920px;
    height: 1080px;
    position: relative;
}

/* default screen */

#defaultScreen {
    font-family: Torus SemiBold, Helvetica, sans-serif;
    color: white;
    width: 100%;
    height: 100%;
}

#defaultScreenContainer {
    text-align: center;
}

#defaultScreenTitleContainer {
    font-family: Puente Light, Helvetica, sans-serif;
}

#defaultScreenTitle {
    font-size: 82px;
}

#defaultScreenSubtitle {
    font-size: 40px;
}

#defaultScreenNowPlayingContainer {
    margin: 40px 0 40px 0;
}

#defaultScreenNowPlayingText {
    font-family: Torus Light, Helvetica, sans-serif;
    font-size: 18px;
}

#defaultScreenSongMetadata {
    font-size: 22px;
}

/* line up screen */

#lineUpScreen {
    font-family: Torus SemiBold, Helvetica, sans-serif;
    color: white;
    width: 100%;
    height: 100%;
}

#lineUpScreenContainer {
    width: 100%;
    height: 100%;
    /* https://stackoverflow.com/questions/4879788/padding-adds-to-div-width-height */
    display: flow-root;
    padding: 140px 140px 140px 140px;
    box-sizing: border-box;
}

#lineUpScreenTournamentInfoContainer {
    font-family: Puente Light, Helvetica, sans-serif;
    font-size: 36px;
}

#lineUpScreenMatchInfoContainer {
    font-size: 28px;
}

#lineUpScreenColumnsContainer {
    display: flex;
    width: 100%;
    height: 100%;
}

#lineUpScreenColumnsContainer>div {
    width: 50%;
    padding: 0 0 0 100px;
}

#lineUpScreenRedText {
    background-color: #A91418;
}

#lineUpScreenBlueText {
    background-color: #1461A5;
}

.lineUpScreenImageContainer {
    height: 200px;
    font-size: 0;
    margin: 80px 0 80px 0;
}

.lineUpScreenImage {
    max-width: 200px;
    max-height: 200px;
    border-radius: 20px;
    /* https://stackoverflow.com/questions/7273338/how-to-vertically-align-an-image-inside-a-div */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.teamColorText {
    width: max-content;
    padding: 0 10px 4px 10px;
    font-size: 34px;
    border-radius: 5px;
}

.teamName {
    background-color: white;
    color: black;
    width: max-content;
    font-size: 50px;
    padding: 0 20px 4px 20px;
    border-radius: 5px;
    margin: 16px 0 40px 0;
}

.lineUpScreenPlayersContainer {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    height: 180px;
}

.lineUpScreenPlayersContainer>span {
    height: 36px;
    width: max-content;
    padding: 0 0 0 20px;
}

/* map screen */

#mapScreen {}

/* match screen top */

#matchScreen {
    height: 100%;
    width: 100%;
    font-family: Torus SemiBold, Helvetica, sans-serif;
    color: white;
}

#matchScreenTopContainer {
    width: 100%;
    height: 154px;
}

#matchScreenTopBg {
    width: 1920px;
    height: 154px;
    position: absolute;
    background-image: url("../static/bg-top.png");
    z-index: -10;
}

#matchScreenTeamContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#matchScreenRedContainer {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    gap: 10px;
}

#matchScreenBlueContainer {
    display: flex;
    flex-flow: row-reverse nowrap;
    height: 100%;
    gap: 10px;
}

#matchScreenTeamWrapperContainer {
    height: 100%;
    /* https://stackoverflow.com/questions/4879788/padding-adds-to-div-width-height */
    display: flow-root;
    padding: 30px 30px 0 30px;
    box-sizing: border-box;
}

.matchTeamColorText {
    width: max-content;
    padding: 0 10px 4px 10px;
    font-size: 26px;
    border-radius: 5px;
}

.matchScreenImageContainer {
    height: 100%;
    font-size: 0;
}

.matchScreenImage {
    max-width: 80px;
    max-height: 80px;
    border-radius: 10px;
}

.matchScreenTeamName {
    background-color: white;
    color: black;
    width: max-content;
    font-size: 38px;
    padding: 0 10px 2px 10px;
    border-radius: 5px;
}

.matchScreenPoint {
    width: 35px;
    height: 35px;
    border-width: 2px;
    border-style: solid;
    border-color: #5e5e5e;
    border-radius: 2px;
    font-size: 0;
    display: flow-root;
    box-sizing: border-box;
    transition: .5s;

}

.matchScreenPointWon {
    background-color: #FAE9AE;
    border-color: #FAE9AE;
}

#matchScreenRedPointsContainer {
    display: flex;
    flex-flow: row nowrap;
    gap: 6px;
}

#matchScreenBluePointsContainer {
    display: flex;
    flex-flow: row-reverse nowrap;
    gap: 6px;
}

#matchScreenRedMetadataTopContainer {
    display: flex;
    flex-flow: row nowrap;
    height: 35px;
    gap: 6px;
}

#matchScreenBlueMetadataTopContainer {
    display: flex;
    flex-flow: row-reverse nowrap;
    height: 35px;
    gap: 6px;
}

#matchScreenRedTeamText {
    background-color: #A91418;
}

#matchScreenBlueTeamText {
    background-color: #1461A5;
}

#matchScreenRedMetadataContainer {
    align-items: flex-start;
}

#matchScreenBlueMetadataContainer {
    align-items: flex-end;
}

.matchScreenTeamMetadataContainer {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

#matchScreenMetadataContainer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 8px;
}

#matchScreenMetadataContainer>div {
    width: max-content;
}

#matchScreenTournamentInfoContainer {
    font-family: Puente Light, Helvetica, sans-serif;
    font-size: 34px;
}

#matchScreenMatchInfoContainer {
    font-size: 24px;
    color: black;
    background-color: white;
    padding: 0 6px 2px 6px;
    border-radius: 4px;
}

#matchScreenAnnotationContainer {
    font-size: 24px;
    background-color: #BB32FF;
    padding: 0 6px 2px 6px;
    border-radius: 4px;
}

/* match screen bottom container */

#matchScreenBottomContainer {
    width: 100%;
    height: 206px;
    position: absolute;
    bottom: 0;
}

#matchScreenBottomBg {
    width: 1920px;
    height: 206px;
    position: absolute;
    background-image: url("../static/bg-bot.png");
    z-index: -10;
}

/* #matchScreenBottomWrapperContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;
}

#matchScreenBottomWrapperContainer>div {
    width: 50%;
} */

#matchScreenTeamStatsContainer {
    display: flex;
    flex-flow: row;
    height: 50%;
}

#matchScreenTeamStatsContainer>div {
    flex: 0 0 50%;
}

#matchScreenBottomRightContainer {
    display: flex;
    flex-flow: column;
}

#matchScreenBottomRightContainer>div {
    height: 50%;
}

#matchScreenMapContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    /* border: #5e5e5e solid 6px;
    display: flow-root;
    box-sizing: border-box;
    padding: 0 5px 0 5px; */
}

#matchScreenMapInfoContainer {
    height: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 20px;
    margin: 0 0 0 20px;
}

#matchScreenMapBgContainer {
    position: absolute;
    z-index: -1;
    /* align-self: flex-start; */
}

#matchScreenMapBg {
    width: 960px;
    height: 103px;
    object-fit: cover;
    /* border-radius: 10px;  */
    /* https://stackoverflow.com/questions/25092391/how-to-dim-an-image-keeping-transparency-untouched-with-css-or-js */
    filter: brightness(50%);
    display: flow-root;
    box-sizing: border-box;
    border: #5e5e5e solid 6px;
}

#matchScreenMapMetadataContainer {
    display: flex;
    flex-flow: column;
}

#matchScreenMapBottomContainer {
    display: flex;
    flex-flow: row;
    gap: 40px;
    font-size: 16px;
}

#matchScreenMapTitle {
    font-size: 20px;
}

#matchScreenMapMapperText, #matchScreenMapDifficultyText, .matchScreenMapSettingsTextFont {
    font-family: Torus Light, Helvetica, sans-serif;
}

#matchScreenMapSettingsContainer {
    display: flex;
    flex-flow: column wrap;
    gap: 0 20px;
    font-size: 16px;
    height: 38px;
    width: max-content;
    /* add margin to make even with mapper/difficulty lines */
    margin: 5px 0 0 0;
}

#matchScreenMapSettingsContainer>div {
    height: 19px;
}

.matchScreenStatsContainer {
    display: flex;
    align-items: center;
    font-size: 46px;
}

#matchScreenBlueStatsContainer {
    flex-flow: row;
}

#matchScreenRedStatsContainer {
    flex-flow: row-reverse;
}

#matchScreenRedScoreContainer, #matchScreenBlueScoreContainer {
    flex-basis: 300px;
}

#matchScreenBlueScoreValue {
    margin: 0 0 0 20px;
    text-align: left;
}

#matchScreenRedScoreValue {
    margin: 0 20px 0 0;
    text-align: right;
}

.matchScreenScoreLeading {
    font-size: 56px;
}

.matchScreenScoreMultiplierContainer {
    font-size: 30px;
    color: #9395D3;
}

#matchScreenChatContainer {
    top: 0;
    position: absolute;
    width: 50%;
    height: 100%;
    display: flow-root;
    box-sizing: border-box;
    padding: 0 10px 10px 10px;
    background-color: rgba(0, 0, 0, .2);
    overflow: hidden;
}

.matchScreenChatMessageContainer {
    display: flex;
    flex-flow: row;
    gap: 10px;
    font-size: 16px;
    width: 100%;
}

.matchScreenChatMessageTime {
    flex: 0 0 70px;
}

.matchScreenChatMessageName {
    flex: 0 0 160px;
    text-align: right;
}

.matchScreenChatMessageBody, .matchScreenChatMessageTime {
    font-family: Torus Regular, Helvetica, sans-serif;
}

.matchScreenChatTeambot, .matchScreenChatTeamunknown {
    color: #9ECE9A;
}

.matchScreenChatTeamleft {
    color: #A91418;
}

.matchScreenChatTeamright {
    color: #1461A5;
}

/* winner screen */

#winnerScreen {
    height: 100%;
    width: 100%;
    font-family: Torus SemiBold, Helvetica, sans-serif;
    color: white;
}

#winnerScreenContainer {
    width: 100%;
    height: 100%;
    /* https://stackoverflow.com/questions/4879788/padding-adds-to-div-width-height */
    display: flow-root;
    padding: 180px 180px 180px 180px;
    box-sizing: border-box;
}

#winnerScreenWrapperContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
}

#winnerScreenWrapperContainer>div {
    width: 100%;
    height: 100%;
}

#winnerScreenImage {
    max-width: 300px;
    max-height: 300px;
    border-radius: 30px;
    /* https://stackoverflow.com/questions/7273338/how-to-vertically-align-an-image-inside-a-div */
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

#winnerScreenDataWrapperContainer {
    padding: 0 0 0 140px;
}

#winnerScreenTournamentInfoContainer {
    font-family: Puente Light, Helvetica, sans-serif;
    font-size: 36px;
}

#winnerScreenMatchInfoContainer {
    font-size: 28px;
}

#winnerScreenText {
    font-family: Torus Bold, Helvetica, sans-serif;
    font-size: 120px;
    margin: 50px 0 70px 0;
}

#winnerScreenPlayersContainer {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    height: 180px;
}

#winnerScreenPlayersContainer>span {
    height: 36px;
    width: max-content;
    padding: 0 0 0 20px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#controls {
    position: relative;
}

#screenControlContainer>div {
    display: inline-block;
}