body,
html {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#controlsContainer {
    display: flex;
    flex-flow: column;
    gap: 10px;
}

#screenControlContainer {
    display: flex;
    flex-flow: column;
}

#screenControlInteractionContainer {
    display: flex;
    flex-flow: row;
}

#configContainer {
    display: flex;
    flex-flow: column;
}

#configInteractionContainer {
    display: flex;
    flex-flow: row;
}

#teamManagerContainer {
    display: flex;
    flex-flow: column;
}

.teamSettingsWrapper {
    display: flow-root;
    box-sizing: border-box;
    padding: 0 0 0 10px;
}

.teamSettingsContainer {
    display: flex;
    flex-flow: column;
}

.generalTeamManagerContainer {
    display: flex;
    flex-flow: column;
    gap: 5px;
}

.pointManagerContainer {
    display: flex;
    flex-flow: row;
    gap: 10px;
}

#annotationManagerContainer {
    display: flex;
    flex-flow: column;
}

#annotationInteractionContainer {
    display: flex;
    flex-flow: row;
}

#determineWinnerManagerContainer {
    display: flex;
    flex-flow: row;
}